<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Campground Booking System</title>
</head>
<body>
    <header>
        <h1>Welcome to the Campground Booking System</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('booking_list') }}">Bookings</a></li>
                <li><a href="{{ url_for('summary') }}">Summary</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Manage your Campsite Bookings Efficiently</h2>
    </section>

</body>
</html>
